.container{
    max-height: 100%;
}

body{
    color: white;
    background: url("/images/reg-train.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    max-width: 100%;
}

/*loginId*/
#login{
    background-color: #33c3f0;
    color: #ecf3e9;
}

#passwordLabel{
    color: #ecf3e9;
}

#usernameLabel{
    color: #ecf3e9;
}

#loginBox{
    margin-top: 9em;
}
