body {
    color: white;
    background: url("../../../static/images/reg-train.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    max-width: 100%;
    max-height: 100%;
}


