<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Login</title>
    <link rel="stylesheet" href="/css/skeleton.css"/>
    <link rel="stylesheet" href="/fragments/css/login.css"/>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
</head>
<body>
<div class="container">
    <img src="/images/jikanLogoBlue.png" height="150" width="150"/>
    <form th:action="@{/login}" th:method="POST">
        <div class="columns">
            <div class="six columns offset-by-three">
                <h1>LOGIN</h1>
                <label for="username" id="usernameLabel">Username</label>
                <input class="u-full-width" id="username" type="text" name="username" placeholder="Username"/>
                <label for="password" id="passwordLabel">Password</label>
                <input class="u-full-width" id="password" type="password" name="password" placeholder="Password"/>
                <br/><br/>
                <input class="u-full-width" id="login" type="submit" value="Login"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>
