<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8"/>
    <title>Jikan Home/Splash page</title>
    <meta name="description" content="Time Management App for Freelancers"/>
    <meta name="author" content="Jikan Development Team"/>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'/>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/skeleton.css"/>
    <link rel="stylesheet" href="/fragments/css/splash.css"/>

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>

</head>
<body>

<!--Video-->
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="/images/jikanSplashBackground.jpg" id="bgvid">
    <source src="/images/647910236.webm" type="video/webm"/>
    <source src="/images/647910236.mp4" type="video/mp4"/>
</video>
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="one-half column">
            <a href="http://jikan.us">
                <img class="headerLeftImage" src="/images/jikanLogoBlue.png" alt="Jikan logo"/>
            </a>
        </div>
        <div class="one-half">
            <div class="headerRightTextBox">
                <a href="/register">
                    <h4 class="u-pull-right">Sign Up</h4>
                </a>
            </div>
        </div>
    </div>
    <hr/>
</div>
<div class="container">
    <div class="row">
        <div class="offset-by-one columns">
            <br/>
            <br/>
            <br/>
            <br/>
            <h1>JUMPSTART YOUR PRODUCTIVITY</h1>
            <!--<h2>Dynamic Time Tracking Software-->
                <!--for Small Business Owners, Freelancers and Entrepreneurs.</h2>-->
        </div>
        <div class="offset-by-five columns">
            <a class="button button-primary" href="/login">CLOCK IN</a>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="one-third column">
            <h5>Increase Productivity</h5>
            <p>Streamline contracts and work-orders quickly. Whether it’s from the web, your smartphone or tablet, it’s never been so easy to track time. With a clean, intuitive interface, keeping track of your projects couldn't be simpler.</p>
        </div>
        <div class="one-third column">
            <h5>Centralized Dashboard</h5>
            <p>With the Jikan dashboard, information is always clearly laid out and easy to digest. The Jikan web app features a simple, uncluttered design with all key information visible at a glance.</p>
        </div>
        <div class="one-third column">
            <h5>Print Friendly</h5>
            <p>Create a project and print a copy for your records or an invoice for your client. Clear and concise project and task forms, provide clients with easy to understand invoices.</p>
        </div>
    </div>
</div>

</body>
</html>