<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8"/>
    <title>Jikan Home/Splash page</title>
    <meta name="description" content="Time Management App for Freelancers"/>
    <meta name="author" content="Jikan Development Team"/>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'/>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/skeleton.css"/>
    <link rel="stylesheet" href="/fragments/css/splash.css"/>

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/images/favicon.png"/>

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="one-half column">
            <a href="http://jikan.us">
                <img class="headerLeftImage" src="/images/jikanLogoBlue.png" alt="HTML tutorial"/>
            </a>
        </div>
        <div class="one-half">
            <div class="headerRightTextBox">
                <a href="/register">
                    <h4 class="u-pull-right">Sign Up</h4>
                </a>
            </div>
        </div>
    </div>
    <hr/>
</div>
<div class="container">
    <div class="row">
        <div class="offset-by-one columns">
            <br/>
            <br/>
            <br/>
            <br/>
            <h1>JUMPSTART YOUR PRODUCTIVITY</h1>
        </div>
        <div class="offset-by-five columns">
            <a class="button button-primary" href="/login">CLOCK IN</a>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="one-third column">
            <h5>Increase Productivity</h5>
            <p>Streamline contracts and work-orders quickly.</p>
        </div>
        <div class="one-third column">
            <h5>Take Anywhere</h5>
            <p>Optimized for use on mobile browsers.</p>
        </div>
        <div class="one-third column">
            <h5>Print Friendly</h5>
            <p>Create a work-order and print a copies for contractual use.</p>
        </div>
    </div>
</div>

</body>
</html>