<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/skeleton.css">
</head>
<body>
<div class="container">
    <form>
        <div class="columns" id="loginBox">
            <div class="six columns offset-by-three">
                <label for="Username">Username</label>
                <input class="u-full-width" type="text" placeholder="Username" id="Username">
                <label for="Password">Password</label>
                <input class="u-full-width" type="password" placeholder="Password" id="Password">
                <input class="u-full-width" type="submit" value="Login">
            </div>
        </div>
    </form>
</div>
</body>
</html>