<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/skeleton.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="two-half column">
<h1>KICKSTART YOUR NEXT PROJECT</h1>
    <label for="username">Username</label>
    <input
            type="text"
            class="form-control"
            name="username"
            id="username"
    >
    <label for="email">Email</label>
    <input
            type="text"
            class="form-control"
            name="email"
            id="email"
    >
    <label for="password">Password</label>
    <input
            type="password"
            class="form-control"
            name="password"
            id="password"
    >
    <button type="submit" class="button">Register</button>
</div>
    </div>
</div>
<hr>
</body>
</html>