<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Create New Project</title>
    <link rel="stylesheet" href="/css/skeleton.css"/>
    <link rel="stylesheet" href="/fragments/css/newProjectPage.css"/>


</head>
<body>
<div class="container">
    <form th:action="@{/projects/create}" th:method="POST" th:object="${project}" enctype="multipart/form-data">
        <div class="columns" id="loginBox">
            <div class="six columns offset-by-three">
                <h1>Create Project</h1>
                <label for="projectName" id="project">Project Name</label>
                <input th:field="*{projectname}" class="u-full-width" id="projectName" name="projectname" type="text" placeholder="Project Name"/>
                <p th:if="${#fields.hasErrors('projectname')}" th:errors="*{projectname}" />

                <label for="company" id="company">Customer</label>
                <input th:field="*{customer}" class="u-full-width" id="companyName" name="customer" type="text" placeholder="Company"/>
                <p th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}" />

                <label for="customer" id="customer">Contact Name</label>
                <input th:field="*{contactname}" class="u-full-width" id="customerName" name="contactname" type="text" placeholder="Customer Name"/>
                <p th:if="${#fields.hasErrors('contactname')}" th:errors="*{contactname}" />

                <label for="contact" id="contact">Contact Phone Number</label>
                <input th:field="*{contactphone}" class="u-full-width" id="contactName" name="contactphone" type="text" placeholder="(area code) Phone Number"/>
                <p th:if="${#fields.hasErrors('contactphone')}" th:errors="*{contactphone}" />

                <label for="email" id="email">Contact E-mail</label>
                <input th:field="*{contactemail}" class="u-full-width" id="emailName" name="contactemail" type="text" placeholder="email"/>
                <p th:if="${#fields.hasErrors('contactemail')}" th:errors="*{contactemail}" />

                <div class="six columns zero">
                    <label for="startDate" id="startDate">Start Date</label>

                        <input th:field="*{startdate}" type="text" name="startdate" value="" size="25"/>
                    <p th:if="${#fields.hasErrors('startdate')}" th:errors="*{startdate}" />
                        <a href="#"
                           onclick="cal13.select(document.forms[0].startdate,'anchor13','MM/dd/yyyy'); return false;"
                           title="cal13.select(document.forms[0].startdate,'anchor13','MM/dd/yyyy'); return false;"
                           name="anchor13" id="anchor13">select</a>


                </div>

                <div class="six columns ">
                    <label for="endDate" id="endDate">End Date</label>

                        <input th:field="*{enddate}" type="text" name="enddate" value="" size="25"/>
                    <p th:if="${#fields.hasErrors('enddate')}" th:errors="*{enddate}" />
                        <a href="#"
                           onclick="cal13.select(document.forms[0].enddate,'anchor14','MM/dd/yyyy'); return false;"
                           title="cal13.select(document.forms[0].enddate,'anchor14','MM/dd/yyyy'); return false;"
                           name="anchor14" id="anchor14">select</a>

                </div>



                <div class="six columns zero">
                    <textarea th:field="*{projectdescription}" cols="50" rows="3" maxlength="2000" name="projectdescription" placeholder="PROJECT DESCRIPTION"></textarea>
                    <p th:if="${#fields.hasErrors('projectdescription')}" th:errors="*{projectdescription}" />

                </div>


                <input class="u-full-width" id="newProjectSubmit" type="submit" value="Submit Project"/>

            </div>

        </div>
    </form>
</div>
<script src="/scripts/calenderPopUp.js"></script>
<script src="/scripts/calenderPopUpCallStart.js"></script>

</body>
</html>