<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/png" href="/images/favicon.ico"/>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Projects</title>
    <link rel="stylesheet" href="/css/skeleton.css"/>
    <link rel="stylesheet" href="/fragments/css/button.css"/>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'/>
</head>
<body>
    <div class="container">
        <div class="one-half column">
            <a href="/"><img src="/images/FixJikanLogo.png" height="46" width="109"/></a>
        </div>
        <div class="one-half column">
            <form th:action="@{/logout}" th:method="POST">
                <button id="logoutButton" class="u-pull-right">Logout</button>
            </form>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    <br/>
    <a href="/projects/create"><button class="button-primary">Create Project</button></a>
    <br/>
    <br/>
        <br/>
    <h1>Projects</h1>
    <ol id="load-projects"> <!--MADE THIS LINE AN ORDERED LIST (NEED TO PUSH)-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/scripts/projects-list.js"></script>
    </ol>
</div>
</body>
</html>
