<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Edit Project</title>
    <link rel="stylesheet" href="/css/skeleton.css"/>
    <link rel="stylesheet" href="/fragments/css/new-task.css"/>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
        $( function() {
            $( "#datepicker2" ).datepicker();
        } );
    </script>
</head>
<body>
<div class="container">
    <div class="one-half column">
        <img src="/images/JikanBlack.png" height="115" width="115"/>
    </div>
    <div class="one-half column">
        <form th:action="@{/logout}" th:method="POST">
            <button id="logoutButton" class="u-pull-right">Logout</button>
        </form>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="/projects"><button class="button-primary">My Projects</button></a>
    <br/>
    <br/>
    <h1>Create Tasks for <span th:text="${project.projectname}"></span></h1>
    <div>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Tasks</th>
                <th>Billable Hours</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.tasks}"/>
                <td th:text="${task.billablehours}"/>
                <td th:text="${task.startdate}"/>
                <td th:text="${task.enddate}"/>
            </tr>
            </tbody>
        </table>
    </div>
        <form th:action="@{'/projects/' + ${projectId} + '/tasks/new'}" method="post" th:object="${task}">
            <div class="row">
                <div class="six columns">
                    <label for="tasks">Task Description</label>
                    <input class="u-full-width" type="text" id="tasks" name="tasks" placeholder="Please enter the task description" th:field="*{tasks}"/>
                    <p th:if="${#fields.hasErrors('tasks')}" th:errors="*{tasks}" />
                </div>
                <div class="six columns">
                    <label for="billablehours">Billable Hours</label>
                    <input class="u-full-width" type="text" id="billablehours" name="billablehours" placeholder="Please enter your billable hours" th:field="*{billablehours}"/>
                    <p th:if="${#fields.hasErrors('billablehours')}" th:errors="*{billablehours}" />
                </div>
            <div class="row">
                <div class="six columns">
            <label for="datepicker">Start Date</label>
            <input class="u-full-width" type="text" id="datepicker" name="startdate" placeholder="ex: 03/24/17" th:field="*{startdate}"/>
            <p th:if="${#fields.hasErrors('startdate')}" th:errors="*{startdate}" />
                </div>
                <div class="six columns">
            <label for="datepicker2">End Date</label>
            <input class="u-full-width" type="text" id="datepicker2" name="enddate" placeholder="ex: 03/27/17" th:field="*{enddate}"/>
            <p th:if="${#fields.hasErrors('enddate')}" th:errors="*{enddate}" />
                </div>
                    <br/>
            <input class="button-primary" type="submit" value="Submit"/>
            </div>
            </div>
        </form>
    </div>
</body>
</html>
