<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Print View</title>
    <link rel="stylesheet" href="/css/skeleton.css"/>
    <link rel="stylesheet" href="/fragments/css/button.css"/>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
</head>
<body>
<div class="container">
    <div class="one-half column">
        <a href="/"><img src="/images/FixJikanLogo.png" height="46" width="109"/></a>
    </div>
<div class="one-half column">
    <form th:action="@{/logout}" th:method="POST">
        <button id="logoutButton" class="u-pull-right">Logout</button>
    </form>
</div>
<br/><br/><br/><br/><br/>
<div>
    <h1><span th:text="${project.projectname}"></span></h1>
    <h5>Customer: <span th:text="${project.customer}"/></h5>
    <h5>Project Description</h5><p th:text="${project.projectdescription}"/>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Tasks</th>
            <th>Billable Hours</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.tasks}"/>
            <td th:text="${task.billablehours}"/>
            <td th:text="${task.startdate}"/>
            <td th:text="${task.enddate}"/>
        </tr>
        </tbody>
    </table>
</div>

</div>
</body>
</html>